/* App.css */

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #595959;
  color: white;
}
th:hover{
  background-color: #595959;
  color: white;
}
h1{
  text-align: center;
}
